<template>
<section>
  <div class="bg bg_white">
    <div class="welcome">
      <span>dont be</span>
      <span>the same.</span>
      <span>be better.</span>
    </div>
  </div>
  <div class="bg bg_red">
    <div class="welcome">
      <span>dont be</span>
      <span>the same.</span>
      <span>be better.</span>
    </div>
  </div>
</section>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>

<style lang="scss" scoped>
section {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  --font-size: 3rem;
  --color: var(--primary);
  --bg-color: #fff;

  @media (min-width: 768px) {
    --font-size: 12vw;
  }

  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--color);

    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: var(--font-size);
      line-height: 1em;
      font-weight: 600;
      text-transform: uppercase;
    }

    &.bg_red {
      --color: #fff;
      --bg-color: var(--primary);

      animation: Slide 1s ease 0.4s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes Slide {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
}
</style>
