<template>
<main>
  <Intro :show="show" />
  <CategoryMenu :show="show" :tags="query.tags" />
  <Works v-if="!loading" :tags="query.tags" :aside="aside && isAsideEnable" ref="workEl" />
  <AsideFilter :tags="query.tags" :aside="aside" :isAsideEnable="isAsideEnable" @toggle="onToggle" />
</main>
</template>

<script>
import Intro from '@/components/work/Intro'
import CategoryMenu from '@/components/work/CategoryMenu'
import Works from '@/components/work/Works'
import AsideFilter from '@/components/work/AsideFilter'

import {
  mapState
} from 'vuex'

export default {
  name: 'Work',
  components: {
    Intro,
    CategoryMenu,
    Works,
    AsideFilter,
  },
  data() {
    return {
      show: false,
      aside: false,
      isAsideEnable: false,
      query: {
        tags: 'all'
      },
      loading: true,
    }
  },
  watch: {
    '$route.query'(newQuery) {
      this.getQuery(newQuery)
      this.aside = false
      if (!this.$refs.workEl) return
    }
  },
  computed: {
    ...mapState({
      init: state => state.init,
      delay: state => state.delay,
    })
  },
  methods: {
    getQuery(query) {
      this.loading = true

      // get data from backend 
      const timeout = setTimeout(() => {
        this.query = query.tags ? query : {
          tags: 'all'
        }
        this.loading = false
        clearTimeout(timeout)
      }, this.init ? this.delay + 1200 : 200)
    },
    onToggle() {
      this.aside = !this.aside
    },
    handleScroll() {
      if (!this.$refs.workEl) return
      const scrollY = window.scrollY
      const innerHeight = window.innerHeight
      const bodyHeight = document.body.clientHeight
      const offsetTop = this.$refs.workEl.$el.offsetTop
      if ((scrollY > offsetTop / 2 && scrollY < bodyHeight - (innerHeight * 1.2))) {
        this.isAsideEnable = true
      } else {
        this.aside = false
        this.isAsideEnable = false
      }
    },
    onScroll() {
      requestAnimationFrame(this.handleScroll)
    }
  },
  mounted() {
    this.getQuery(this.$route.query)
    const timeout = setTimeout(() => {
      this.show = true
      clearTimeout(timeout)
    }, this.init ? this.delay + 300 : 300)
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  }
}
</script>
