<template>
<header :class="{enter: !init}">
  <div class="container">
    <Logo />
    <NavMenu />
  </div>
</header>
</template>

<script>
import Logo from '@/components/header/Logo'
import NavMenu from '@/components/header/NavMenu'

import {
  mapState
} from 'vuex'

export default {
  name: 'AppHeader',
  components: {
    Logo,
    NavMenu
  },
  computed: {
    ...mapState({
      init: state => state.init,
    })
  },
}
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;

  transform: translate(0, -100%);
  transition: all 1s ease .3s;

  &.enter {
    transform: none;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 980px) {
      padding: 0 50px;
    }
  }
}
</style>
