<template>
<a href="/" class="logo">
  <img src="../../assets/logo-red.svg" alt="Codigo logo">
</a>
</template>

<style lang="scss" scoped>
.logo {
  display: block;
  width: 110px;

  img {
    width: 100%;
  }

  @media (min-width: 980px) {
    width: 145px;
  }
}
</style>
