<template>
<button :class="{close: open}" @click="onClick">
  <span class="bar bar_start"></span>
  <span class="bar bar_middle--one"></span>
  <span class="bar bar_middle--two"></span>
  <span class="bar bar_end"></span>
</button>
</template>

<script>
export default {
  name: 'MenuButton',
  props: {
    open: Boolean,
  },
  methods: {
    onClick() {
      this.$emit('toggle')
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: auto;

  .bar {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;

    transition: transform .6s ease, opacity .6s ease;

    &.bar_start {
      transform: translate(0, -7px);
    }

    &.bar_end {
      transform: translate(0, 7px);
    }

    &.bar_middle--two {
      opacity: 0;
    }
  }

  &.close {

    .bar_start,
    .bar_end {
      transform: translate(0, 0) scale(0);
      opacity: 0;
    }

    .bar_middle--one {
      transform-origin: center;
      transform: rotate(45deg);
    }

    .bar_middle--two {
      transform-origin: center;
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}
</style>
