<template>
<button class="nav nav_button" :class="{open: open}" v-if="!nav.url">
  <p>
    <span>{{nav.name}}</span>
  </p>
</button>
<router-link class="nav nav_a" :class="{open: open}" v-else :to="nav.url">
  <p>
    <span>{{nav.name}}</span>
  </p>
</router-link>
</template>

<script>
export default {
  name: 'Nav',
  props: {
    nav: Object,
    open: Boolean,
  },
}
</script>

<style lang="scss" scoped>
// under 980px
@media (max-width: 979.9px) {
  .nav {
    display: block;
    width: 100%;
    min-height: 46px;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    text-decoration: none;

    &.open {
      p {
        span {
          transform: rotate(0deg);
          opacity: 1;
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 100%;

      span {
        font-size: 1.4rem;
        font-weight: 600;
        display: block;
        padding: 0;
        color: #fff;
        text-align: center;

        transform-origin: bottom left;
        transform: rotate(20deg) translate(0, 20px);
        opacity: 0;

        transition: all .8s ease;
      }
    }
  }
}

@media (min-width: 980px) {
  .nav {
    display: block;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    &.nav_a {
      font-size: .85rem;
      color: #000;
      padding: 0 20px;
      margin-right: 20px;

      &:hover {
        p::before {
          width: 100%;
        }
      }
    }

    &.router-link-active {
      font-weight: 600;
    }

    &.nav_button {
      padding: 0 22px;
      height: 48px;
      border-radius: 48px;
      background-color: var(--secondary);
      color: #fff;
      margin-left: 20px;
      transition: transform .5s ease;

      &:hover {
        transform: scale(1.04);
      }
    }

    p {
      margin: 0;
      padding: 0;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 0%;
        height: 1px;
        background-color: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: width .5s cubic-bezier(.4, .6, .6, 1);
      }
    }

  }
}
</style>
