<template>
<nav :class="{open: open}">
  <header>
    <MenuButton :open="open" @toggle="onToggle" />
  </header>
  <div class="container">
    <ul class="nav-menu">
      <li v-for="nav in navs" :Key="nav.name" :class="{small: !nav.large}">
        <Nav :nav="nav" :open="open" />
      </li>
    </ul>
    <footer>
      <ul class="social-links">
        <li v-for="(social, index) in socials" :key="index">
          <Social white :social="social" />
        </li>
      </ul>
    </footer>
  </div>
</nav>
</template>

<script>
import MenuButton from '@/components/header/MenuButton'
import Nav from '@/components/header/Nav'
import Social from '@/components/header/Social'

import {
  NAVS,
  SOCIALS,
} from '@/assets/data'

export default {
  name: 'NavMenu',
  components: {
    MenuButton,
    Nav,
    Social,
  },
  data() {
    return {
      navs: NAVS,
      socials: SOCIALS,
      open: false,
    }
  },
  watch: {
    '$route'() {
      this.open = false
    }
  },
  methods: {
    onToggle() {
      this.open = !this.open
    }
  }
}
</script>

<style lang="scss" scoped>
// under 980px
@media (max-width: 979.9px) {
  nav {

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: var(--secondary);
      transition: clip-path .8s cubic-bezier(.2, 1, .2, 1) .4s;
      clip-path: circle(23px at calc(100% - 40px) 35px);
    }

    &.open {
      pointer-events: auto;

      &::before {
        transition: clip-path .8s cubic-bezier(.2, 1, .2, 1);
        clip-path: circle(102vh at calc(100% - 40px) 35px);
      }

      @media (orientation: landscape) {
        &::before {
          clip-path: circle(100vw at calc(100% - 40px) 35px);
        }
      }

      .container {
        .nav-menu {
          opacity: 1;
          pointer-events: auto;
          transition: opacity .1s ease;
        }

        footer {
          opacity: 1;
          pointer-events: auto;
          transition: opacity .8s ease .6s;
        }
      }
    }

    header {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: var(--header-height);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 20px;
    }

    .container {
      position: relative;
      z-index: 1;
      flex: 1;

      width: 100%;
      height: 100%;
      padding: var(--header-height) 20px;
      overflow-y: auto;

      .nav-menu {
        margin: 0;
        padding: 5vh 20px;
        list-style: none;

        min-height: calc(100% - 100px);
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s ease .3s;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
      }

      footer {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        opacity: 0;
        pointer-events: none;

        transition: opacity .4s ease;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          display: flex;
          justify-content: center;
          align-items: center;

          li {
            padding: 0 20px;
          }
        }
      }
    }
  }

}

// over 980px
@media (min-width: 980px) {
  nav {
    display: flex;
  }

  header,
  footer {
    display: none;
  }

  .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      &.small {
        display: none;
      }
    }
  }
}
</style>
