<template>
<a :href="social.link" target="_blank">
  <img :src="white ? social.iconWhite : social.icon" :width="social.width" :height="social.height">
</a>
</template>

<script>
export default {
  name: 'Social',
  props: {
    social: Object,
    white: Boolean,
  }
}
</script>
