<template>
<footer>
  <div class="container">
    <h2>Let's have a chat</h2>
    <Trusts />
    <ul class="social-links">
      <li v-for="(social, index) in socials" :key="index">
        <Social :social="social" />
      </li>
    </ul>
    <div class="copyright">
      Copyright © Codigo - Mobile App Developer Singapore
    </div>
    <div class="contact">
      +65 6455 9790 • 26 Sin Ming Lane, Midview City #07-115 Singapore 573971
    </div>
  </div>
</footer>
</template>

<script>
import Trusts from '@/components/footer/Trusts'
import Social from '@/components/header/Social'

import {
  SOCIALS,
} from '@/assets/data'

export default {
  name: 'AppFooter',
  components: {
    Trusts,
    Social,
  },
  data() {
    return {
      socials: SOCIALS,
    }
  },
}
</script>

<style lang="scss" scoped>
footer {
  background-color: #fafafa;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 40px;

    @media (min-width: 980px) {
      padding: 80px 0 60px;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      color: var(--primary);
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 20px;
      }
    }

    .copyright,
    .contact {
      padding: 0 20px;
      font-size: 0.8rem;
      text-align: center;
      margin-top: 10px;
    }
  }
}
</style>
