<template>
<section>
  <div class="trust-container">
    <Trust title="Build" description="Help you build something" />
  </div>
  <div class="trust-container">
    <Trust title="Co-incubate" description="Co-incubate an idea together" />
  </div>
  <div class="trust-container">
    <Trust title="Customise" description="Customise a solution for your business" />
  </div>
  <div class="trust-container">
    <Trust title="Organise" description="Organise learning sessions with us" />
  </div>
</section>
</template>

<script>
import Trust from '@/components/footer/Trust'

export default {
  name: 'Trusts',
  components: {
    Trust,
  }
}
</script>

<style lang="scss" scoped>
section {
  padding: 20px 10px 60px;

  .trust-container {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px;
  }

  @media (min-width: 980px) {
    display: flex;
    padding: 60px 10px;

    .trust-container {
      width: 25%;
      border-bottom: none;

      &:not(:last-child) {
        border-right: 1px solid #eee;
      }

      &:not(:first-child) {
        padding: 0 30px;
      }
    }
  }
}
</style>
