<template>
<a href="/">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
</a>
</template>

<script>
export default {
  name: 'Trust',
  props: {
    title: String,
    description: String,
  }
}
</script>

<style lang="scss" scoped>
a {
  display: block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 10px;
      margin-left: 20px;
      background-image: url(https://www.codigo.co/img/icons/arrow-red.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform .3s ease;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: .85rem;
  }

  @media (min-width: 980px) {

    h3 {
      display: inline-flex;
      transition: color .3s ease;
    }

    &:hover {
      h3 {
        color: var(--primary);

        &::after {
          transform: translate(10px, 0);
        }
      }
    }
  }
}
</style>
