<template>
<div id="app">
  <AppHeader />
  <router-view />
  <AppFooter />
  <div>
    <transition>
      <Welcome v-if="init" />
    </transition>
  </div>
</div>
</template>

<script>
import {
  mapState,
  mapMutations
} from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState({
      init: state => state.init,
      delay: state => state.delay,
    })
  },
  methods: {
    ...mapMutations([
      'setInit'
    ]),
    onInit() {
      const timeout = setTimeout(() => {
        this.setInit(false)
        clearTimeout(timeout)
      }, this.delay)
    }
  },
  mounted() {
    this.onInit()
  }
}
</script>

<style lang="scss">
:root {
  // fonts 
  --font-family: 'Poppins', Helvetica, Arial, sans-serif;
  --font-size: 16px;

  // colors 
  --primary: #d5333e;
  --secondary: #3a2837;

  --header-height: 70px;

  @media (min-width: 980px) {
    --header-height: 100px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  main {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: var(--header-height);
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
}

// INIT TRANSITION 
.v-leave-active {
  animation: onLeave 0.6s ease;
}

@keyframes onLeave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
</style>
