<template>
<aside :class="{show: aside && isAsideEnable}">
  <div class="container">
    <div class="category">
      <Categories :tags="tags" aside />
    </div>
    <div class="legend">
      <Legend />
    </div>
  </div>
  <button @click="$emit('toggle')" :class="{show: isAsideEnable}"></button>
</aside>
</template>

<script>
import Categories from '@/components/work/Categories'
import Legend from '@/components/work/Legend'

export default {
  name: 'AsideFilter',
  props: {
    tags: String,
    aside: Boolean,
    isAsideEnable: Boolean,
  },
  components: {
    Categories,
    Legend,
  },
}
</script>

<style lang="scss" scoped>
aside {
  position: fixed;
  z-index: 6;
  width: 300px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.08), 6px 0 6px rgba(0, 0, 0, 0.1);

  transform: translate(-105%, 0);
  transition: transform .8s ease;

  &.show {
    transform: translate(0, 0);
    transition: transform .6s ease .15s;

    .container {
      .category {
        transform: translate(0, 0);
        transition: transform .6s ease .3s;
      }
    }

    button {
      right: -40px;
      transition: right .3s ease, transform .5s ease;

      &::before {
        display: none;
      }

      &::after {
        display: inline;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;

    .category {
      min-height: calc(100vh - 186px);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-100px, 0);
      transition: transform .8s ease;
    }

    .legend {
      margin: 20px 0;
    }
  }

  button {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--primary);
    bottom: 30px;
    right: -120px;
    transition: right .2s ease .5s, transform .5s ease .3s, opacity .5s ease .3s;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);

    &.show {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);

      &::before,
      &::after {
        transform: scale(1);
      }
    }

    &::before,
    &::after {
      display: block;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      transform: scale(0);
      transition: transform .8s ease;
    }

    &::before {
      content: 'Filter';
    }

    &::after {
      content: 'Close';
      display: none;
      font-size: .85rem;
    }

    @media (min-width: 1100px) {
      bottom: calc(50% - 40px);
      right: -55px;

      &::before {
        transform: translate(20%, 0) rotate(-90deg) scale(0);
        display: block;
        font-size: .75rem;
      }

      &::after {
        font-size: .75rem;
      }

      &:hover {
        transform: scale(1.2);
      }

      &.show::before {
        transform: translate(20%, 0) rotate(-90deg) scale(1);
      }
    }

  }
}
</style>
