<template>
<section>
  <div class="container" :class="{show: show}">
    <div class="category">
      <Categories :tags="tags" />
    </div>
    <div class="legend">
      <Legend />
    </div>
  </div>
</section>
</template>

<script>
import Categories from '@/components/work/Categories'
import Legend from '@/components/work/Legend'

export default {
  name: 'Intro',
  props: {
    show: Boolean,
    tags: String,
  },
  components: {
    Categories,
    Legend,
  }
}
</script>

<style lang="scss" scoped>
section {
  padding: 50px 0;
  display: none;

  @media (min-width: 600px) {
    display: block;
  }

  .container {
    width: 85%;
    margin: 0 auto;

    @media (min-width: 900px) {
      display: flex;
    }

    @media (min-width: 1050px) {
      width: 75%;
    }

    .category,
    .legend {
      transform: translate(0, 100px);
      opacity: 0;
    }

    &.show {

      .category,
      .legend {
        opacity: 1;
        transform: none;
      }
    }

    .category {
      margin-bottom: 50px;
      transition: all 1s ease .2s;

      @media (min-width: 900px) {
        flex: 1;
        margin-bottom: 0;
      }
    }

    .legend {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      transition: all 1s ease .4s;

      @media (min-width: 900px) {
        width: 200px;
      }
    }

  }

}
</style>
