<template>
<ul :class="{aside}">
  <li v-for="category in categories" :key="category.id">
    <router-link :class="{active: isActive(category.tags)}" :to="`?tags=${category.tags}`">
      {{category.name}}
    </router-link>
  </li>
</ul>
</template>

<script>
import {
  mapState
} from 'vuex'

export default {
  name: 'Categories',
  props: {
    tags: String,
    aside: Boolean,
  },
  computed: {
    ...mapState({
      categories: state => state.categories,
    })
  },
  methods: {
    isActive(query) {
      if (this.tags === query) return true
      return false
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  width: 100%;
  max-width: 810px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &.aside {
    display: block;

    li {
      width: 100%;
      padding: 6px 0;
    }
  }

  li {
    width: 33.33%;
    padding: 10px 25px 10px 0;

    a {
      color: #000;
      text-decoration: none;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.95rem;

      &::before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--primary);
        transition: all .3s ease;
      }

      &.active {
        font-weight: 600;

        &::before {
          width: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}
</style>
