<template>
<section>
  <div class="container" :class="{show: show}">
    <h1>
      <p>Here’s 5% of</p>
      <p>our published work.</p>
      <p class="primary">See 100% of our power.</p>
    </h1>
  </div>
</section>
</template>

<script>
export default {
  name: 'Intro',
  props: {
    show: Boolean,
  }
}
</script>

<style lang="scss" scoped>
section {
  padding: 100px 0 60px;

  @media (min-width: 600px) {
    padding-bottom: 0;
  }

  .container {
    width: 85%;
    margin: 0 auto;

    @media (min-width: 1050px) {
      width: 75%;
    }

    &.show {

      h1 p,
      h1 p.primary {
        opacity: 1;
        transform: none;
      }
    }

    h1 {
      font-size: 12vw;
      line-height: 1em;
      font-weight: 700;
      margin: 0;

      @media (min-width: 600px) {
        font-size: 6.5vw;
        line-height: 1.5em;
      }

      @media (min-width: 1050px) {
        font-size: 3.6rem;
        line-height: 1.2em;
      }

      p {
        margin: 0;
        padding: 0;

        opacity: 0;
        transition: all 1s ease;

        @media (min-width: 600px) {
          transform: translate(0, 100px);
        }

        &.primary {
          transform: translate(0, 100px);
          color: var(--primary);
        }
      }
    }
  }

}
</style>
