<template>
<div class="legend-container">
  <h4>legend</h4>
  <ul>
    <li class="app">app</li>
    <li class="web">web</li>
    <li class="cms">cms</li>
    <li class="uiux">ui/ux</li>
  </ul>
</div>
</template>

<script>
export default {
  name: 'Legend'
}
</script>

<style lang="scss" scoped>
.legend-container {
  h4 {
    margin: 5px 0;
    padding: 0;
    font-weight: 600;
    font-size: .7rem;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    border-left: 1px solid #333;

    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      padding: 5px 0 5px 20px;
      font-size: .7rem;
      text-transform: uppercase;
      display: flex;
      justify-self: start;
      align-items: center;

      &::before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        margin-right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.app::before {
        background-image: url(https://www.codigo.co/img/ui/ico-app.svg);
      }

      &.web::before {
        background-image: url(https://www.codigo.co/img/ui/ico-web.svg);
      }

      &.cms::before {
        background-image: url(https://www.codigo.co/img/ui/ico-cms.svg);
      }

      &.uiux::before {
        background-image: url(https://www.codigo.co/img/ui/ico-uiux.svg);
      }
    }
  }
}
</style>
