<template>
<section :class="{'right-shift': aside}">
  <div class="work-ratio" v-for="work in getWorks(tags)" :key="work.id" :style="{
      animationDuration: `${getRandom()}s`
    }">
    <div class="work">
      <Work :work="work" />
    </div>
  </div>
</section>
</template>

<script>
import {
  mapGetters
} from 'vuex'

import Work from '@/components/work/Work'

export default {
  name: 'Works',
  components: {
    Work,
  },
  props: {
    show: Boolean,
    tags: String,
    aside: Boolean,
  },
  methods: {
    getRandom() {
      const num = Math.max(.6, Math.random())
      console.log(num + .2)
      return num + .2
    }
  },
  computed: {
    ...mapGetters([
      'getWorks'
    ])
  },
}
</script>

<style lang="scss" scoped>
section {
  width: 100%;
  min-height: 50vh;
  opacity: 1;
  transition: opacity .6s ease .6s, transform .6s ease, width .6s ease;

  &.right-shift {
    transform: translateX(200px);
    width: 90%;
    transition: transform .8s ease-out .2s, width .8s ease-out .2s;
  }

  .work-ratio {
    width: 100%;
    height: 0;
    padding-top: 60%;
    position: relative;

    .work {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    animation: FadeIn .8s ease;

    @keyframes FadeIn {
      from {
        opacity: 0;
        padding-top: 40%;
      }

      to {
        opacity: 1;
        padding-top: 60%;
      }
    }

    @media (min-width: 600px) {
      // animation: SlideEnter .8s cubic-bezier(.4, .6, .6, 1);

      animation-name: SlideEnter;
      animation-timing-function: cubic-bezier(.4, .6, .6, 1);
      transform-origin: 80% 90%;

      @keyframes SlideEnter {
        from {
          opacity: 0;
          transform: translate3d(0, -100px, 0) scale3d(.95, .95, .95) rotate3d(1, .05, 0, 5deg);
        }

        to {
          opacity: 1;
          transform: translateZ(0) scaleX(1) rotate3d(0, 0, 0, 0);
        }
      }
    }

  }

  @media (min-width: 600px) and (max-width: 979.9px) {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .work-ratio {
      padding-top: 100%;

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(10) {
        grid-column: span 2;
        padding-top: 50%;
      }
    }
  }

  @media (min-width: 980px) and (max-width: 1099.9px) {
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);

    .work-ratio {
      padding-top: 120%;

      &:nth-child(2n+ 1) {
        grid-column: span 2;
        padding-top: 60%;
      }

      &:nth-last-child(2) {
        grid-column: span 1;
        padding-top: 100%;
      }
    }
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: repeat(4, 25%);

    .work-ratio {
      grid-column: span 1;
      padding-top: 120%;

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(10) {
        grid-column: span 2;
        padding-top: 60%;
      }
    }
  }
}
</style>
