<template>
<a :href="`/work/${work.id}`" :key="work.id">
  <div class="media">
    <img :src="work.img" :alt="work.name">
  </div>
  <div class="detail" :class="work.theme">
    <header>
      <div class="category">{{work.category}}</div>
      <h2>{{work.name}}</h2>
    </header>
    <footer>
      <div class="legend" v-for="legend in work.legends" :class="legend" :key="legend"></div>
    </footer>
  </div>
</a>
</template>

<script>
export default {
  name: 'Work',
  props: {
    work: Object,
  },
}
</script>

<style lang="scss" scoped>
a {
  width: 100%;
  height: 100%;
  position: relative;
  transition: opacity .6s ease .6s;
  background-color: #f4f4f4;

  display: block;
  text-decoration: none;
  color: #000;
  overflow: hidden;

  .media,
  .detail {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .media {
    transition: transform 1.25s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .detail {
    transition: background-color .3s ease;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.dark {
      --color: #000;
    }

    &.light {
      --color: #fff;
    }

    header {
      color: var(--color);

      .category {
        transition: color 1s ease;
        font-size: .6rem;
      }

      h2 {
        transition: color 1s ease;
        font-size: 1.5rem;
        margin: 10px 0;
      }
    }

    footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .legend {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 100%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;

        &.app {
          background-image: url(https://www.codigo.co/img/ui/ico-app.svg);
          background-size: 45%;
        }

        &.web {
          background-image: url(https://www.codigo.co/img/ui/ico-web.svg);
          background-size: 60%;
        }

        &.cms {
          background-image: url(https://www.codigo.co/img/ui/ico-cms.svg);
          background-size: 60%;
        }

        &.uiux {
          background-image: url(https://www.codigo.co/img/ui/ico-uiux.svg);
          background-size: 50%;
        }
      }
    }
  }

  &:hover {
    .media {
      transform: scale(1.1);
    }

    .detail {
      --color: #fff;
      background-color: #0006;
    }
  }
}
</style>
